@font-face {
   font-family: 'RitaSmith';
   src: url('RitaSmith/font.ttf');
}
@font-face {
   font-family: 'RussoOne-Regular';
   src: url('RussoOne-Regular/font.ttf');
}
@font-face {
   font-family: 'GillSans';
   src: url('GillSans/font.ttf');
}
